--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8 (Debian 16.8-1.pgdg120+1)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AppointmentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AppointmentStatus" AS ENUM (
    'SCHEDULED',
    'CONFIRMED',
    'CANCELLED',
    'COMPLETED',
    'NO_SHOW'
);


ALTER TYPE public."AppointmentStatus" OWNER TO postgres;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'CARD',
    'TRANSFER'
);


ALTER TYPE public."PaymentMethod" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'DENTIST',
    'ASSISTANT',
    'PATIENT'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Appointment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Appointment" (
    id text NOT NULL,
    "patientId" text NOT NULL,
    "userId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    status public."AppointmentStatus" DEFAULT 'SCHEDULED'::public."AppointmentStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    duration integer,
    "endDate" timestamp(3) without time zone,
    "serviceId" text
);


ALTER TABLE public."Appointment" OWNER TO postgres;

--
-- Name: ClinicConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClinicConfig" (
    id text NOT NULL,
    "nombreClinica" text NOT NULL,
    telefono text NOT NULL,
    direccion text NOT NULL,
    correo text NOT NULL,
    horario text NOT NULL,
    "colorPrincipal" text NOT NULL,
    "logoUrl" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ClinicConfig" OWNER TO postgres;

--
-- Name: Consultation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Consultation" (
    id text NOT NULL,
    "patientId" text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    motivo text,
    diagnostico text,
    tratamiento text,
    observaciones text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Consultation" OWNER TO postgres;

--
-- Name: DentistPayment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DentistPayment" (
    id text NOT NULL,
    "dentistId" text NOT NULL,
    period text NOT NULL,
    "baseSalary" double precision NOT NULL,
    commission double precision NOT NULL,
    deductions double precision NOT NULL,
    total double precision NOT NULL,
    status text NOT NULL,
    "paymentDate" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DentistPayment" OWNER TO postgres;

--
-- Name: DentistSchedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DentistSchedule" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "workingDays" jsonb NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "blockedHours" jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DentistSchedule" OWNER TO postgres;

--
-- Name: MedicalHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MedicalHistory" (
    id text NOT NULL,
    "patientId" text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    alergias text,
    "cigarrillosPorDia" integer,
    compania text,
    diabetes boolean,
    domicilio text,
    edad integer,
    "edadFiebreReumatica" integer,
    embarazo boolean,
    "empleoProfesion" text,
    escolaridad text,
    "estadoCivil" text,
    "fechaNacimiento" timestamp(3) without time zone,
    "fechaUltimaConsultaMedica" timestamp(3) without time zone,
    "frecuenciaCardiaca" text,
    fum timestamp(3) without time zone,
    fuma boolean,
    "interrogatorioTipo" text,
    "lugarNacimiento" text,
    "medicamentosActuales" text,
    "motivoConsulta" text,
    "motivoUltimaConsultaMedica" text,
    "nombreCompleto" text,
    "nombreInformante" text,
    ocupacion text,
    "otrasCondicionesMedicas" text,
    "padecimientoOdontologicoActual" text,
    "padecimientosGastricos" text,
    "parentescoInformante" text,
    "periodoMenstrual" text,
    "presionArterial" text,
    "procesosQuirurgicos" text,
    respuesta text,
    rh text,
    "saludGeneral" text,
    sangrado text,
    sexo text,
    "telefonoDomicilio" text,
    "telefonoOficina" text,
    temperatura text,
    "terapeuticaEmpleada" text,
    "tipoSanguineo" text,
    "tratamientosHormonales" text,
    urgencia text,
    "apellidoMaterno" text,
    "apellidoPaterno" text,
    asma boolean,
    bradicardia boolean,
    bronquitis boolean,
    cirrosis boolean,
    enfisema boolean,
    "hepatitisA" boolean,
    "hepatitisB" boolean,
    "hepatitisC" boolean,
    "hepatitisD" boolean,
    "hepatitisHigado" boolean,
    herpes boolean,
    hipertension boolean,
    hipertiroidismo boolean,
    hipotension boolean,
    hipotiroidismo boolean,
    "mesesEmbarazo" integer,
    taquicardia boolean,
    vih boolean,
    angina boolean,
    convulsiones boolean,
    cortaduras boolean,
    "diabetesControlMedico" boolean,
    "doloresPecho" boolean,
    extracciones boolean,
    "fiebreReumatica" boolean,
    infarto boolean,
    "nerviosismoDental" boolean,
    "problemasRinonUrinarias" boolean,
    "sangradoNasal" boolean
);


ALTER TABLE public."MedicalHistory" OWNER TO postgres;

--
-- Name: Patient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Patient" (
    id text NOT NULL,
    name text NOT NULL,
    "lastNamePaterno" text,
    "lastNameMaterno" text,
    email text,
    phone text,
    "birthDate" timestamp(3) without time zone,
    address text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text
);


ALTER TABLE public."Patient" OWNER TO postgres;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "patientId" text NOT NULL,
    amount double precision NOT NULL,
    method public."PaymentMethod" NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payment" OWNER TO postgres;

--
-- Name: Permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Permission" (
    id text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Permission" OWNER TO postgres;

--
-- Name: Service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Service" (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    duration integer NOT NULL,
    price double precision NOT NULL,
    description text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    color text
);


ALTER TABLE public."Service" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role public."Role" DEFAULT 'PATIENT'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    speciality text,
    license text,
    phone text,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastNameMaterno" text,
    "lastNamePaterno" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserPermission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserPermission" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "permissionId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserPermission" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: odontogram; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.odontogram (
    id text NOT NULL,
    "patientId" text NOT NULL,
    data jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.odontogram OWNER TO postgres;

--
-- Data for Name: Appointment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ClinicConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ClinicConfig" (id, "nombreClinica", telefono, direccion, correo, horario, "colorPrincipal", "logoUrl", "updatedAt") FROM stdin;
2024f569-6917-4c19-953e-754369d2e599	Odontos					#b91c1c		2025-04-30 21:23:25.447
\.


--
-- Data for Name: Consultation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Consultation" (id, "patientId", date, motivo, diagnostico, tratamiento, observaciones, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: DentistPayment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DentistPayment" (id, "dentistId", period, "baseSalary", commission, deductions, total, status, "paymentDate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: DentistSchedule; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: MedicalHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Patient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Payment" (id, "patientId", amount, method, status, description, "createdAt", "updatedAt") FROM stdin;
0d3b3343-9b33-48e9-ac5a-f2ccc4bbdea3	f0920fd1-e258-4588-9b07-9e544792ede3	1900	CASH	PENDING	restan 2100	2025-05-06 21:36:20.664	2025-05-06 21:36:20.664
\.


--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Service; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, password, name, role, "createdAt", "updatedAt", speciality, license, phone, "isActive", "lastNameMaterno", "lastNamePaterno") FROM stdin;
55e7a281-cab1-4155-9db2-71167deeb665	anavrcd@hotmail.com	$2b$10$TJZpnerEDo.IDmg7zkqnVuICBRep5dqtwk93.NMra/qYaXf0X/flu	C.D Ana Isabel	ADMIN	2025-05-03 19:59:41.735	2025-05-09 23:25:07.622	\N	\N	\N	t	Rabasa	Valades
43393c65-c4b1-4b6d-9df1-dcbe568cde72	admin@odontos.com	$2b$10$pVswvK0NisFz5DZcAma7muCV12ncCgTpoTSTjlhcNkXYjTlcG6eFK	Ivan	ADMIN	2025-04-30 19:52:02.296	2025-05-09 23:26:01.978	\N	\N	\N	t	Admin	Anaya
\.


--
-- Data for Name: UserPermission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: odontogram; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Appointment Appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_pkey" PRIMARY KEY (id);


--
-- Name: ClinicConfig ClinicConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClinicConfig"
    ADD CONSTRAINT "ClinicConfig_pkey" PRIMARY KEY (id);


--
-- Name: Consultation Consultation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Consultation"
    ADD CONSTRAINT "Consultation_pkey" PRIMARY KEY (id);


--
-- Name: DentistPayment DentistPayment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DentistPayment"
    ADD CONSTRAINT "DentistPayment_pkey" PRIMARY KEY (id);


--
-- Name: DentistSchedule DentistSchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DentistSchedule"
    ADD CONSTRAINT "DentistSchedule_pkey" PRIMARY KEY (id);


--
-- Name: MedicalHistory MedicalHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalHistory"
    ADD CONSTRAINT "MedicalHistory_pkey" PRIMARY KEY (id);


--
-- Name: Patient Patient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Patient"
    ADD CONSTRAINT "Patient_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: Service Service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Service"
    ADD CONSTRAINT "Service_pkey" PRIMARY KEY (id);


--
-- Name: UserPermission UserPermission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPermission"
    ADD CONSTRAINT "UserPermission_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: odontogram odontogram_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.odontogram
    ADD CONSTRAINT odontogram_pkey PRIMARY KEY (id);


--
-- Name: DentistSchedule_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DentistSchedule_userId_key" ON public."DentistSchedule" USING btree ("userId");


--
-- Name: MedicalHistory_patientId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MedicalHistory_patientId_key" ON public."MedicalHistory" USING btree ("patientId");


--
-- Name: Patient_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Patient_userId_key" ON public."Patient" USING btree ("userId");


--
-- Name: Permission_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Permission_name_key" ON public."Permission" USING btree (name);


--
-- Name: UserPermission_userId_permissionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserPermission_userId_permissionId_key" ON public."UserPermission" USING btree ("userId", "permissionId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: odontogram_patientId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "odontogram_patientId_key" ON public.odontogram USING btree ("patientId");


--
-- Name: Appointment Appointment_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."Patient"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Appointment Appointment_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public."Service"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Appointment Appointment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Appointment"
    ADD CONSTRAINT "Appointment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Consultation Consultation_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Consultation"
    ADD CONSTRAINT "Consultation_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."Patient"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DentistPayment DentistPayment_dentistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DentistPayment"
    ADD CONSTRAINT "DentistPayment_dentistId_fkey" FOREIGN KEY ("dentistId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DentistSchedule DentistSchedule_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DentistSchedule"
    ADD CONSTRAINT "DentistSchedule_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MedicalHistory MedicalHistory_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MedicalHistory"
    ADD CONSTRAINT "MedicalHistory_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."Patient"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Patient Patient_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Patient"
    ADD CONSTRAINT "Patient_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."Patient"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserPermission UserPermission_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPermission"
    ADD CONSTRAINT "UserPermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserPermission UserPermission_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPermission"
    ADD CONSTRAINT "UserPermission_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: odontogram odontogram_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.odontogram
    ADD CONSTRAINT "odontogram_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."Patient"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

